body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#messageList {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
}